*{
    margin: 0;
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
    margin: 40vh 30%;
    border: 1px solid black;
    padding: 1px;
}

form input{
    padding: 5px;
}

form textarea{
    height: 10vh;
    resize: none;
}