<!doctype html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="textoMaior">Adicionar Estados</title>
    <link th:href="@{/css/formularioEstado.css}" rel="stylesheet">
</head>
<body>
<h1 class="textoMaior">Cadastrar Estados</h1>
<form method="POST" action="/estadosADM" id="formEstados">
    <input type="text" name="nome" placeholder="Nome do Estado" required="true" maxlength="35">
    <input type="text" name="sigla" placeholder="Sigla do Estado" required="true" maxlength="2">
    <input type="submit" id="btnEnviar" value="Criar Estado">
</form>

<h1 class="textoMaior">Listar Estados</h1>
<table id="listaEstados" border="1">
    <thead>
        <tr>
            <td>Código</td>
            <td>Estado</td>
            <td>Sigla</td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="estado1 : ${estadosList}">
        <td th:text="${estado1.getCodigo()}"></td>
        <td th:text="${estado1.getNome()}"></td>
        <td th:text="${estado1.getSigla()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>