<!doctype html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="textoMaior">Adicionar Estados</title>
    <link th:href="@{/css/formularioEstado.css}" rel="stylesheet">

</head>
<body>
<h1 class="textoMaior">Cadastrar Estados</h1>
<form method="POST" action="/estadosADM" id="formEstados">
    <input type="text" name="nome" placeholder="Nome do Estado" required="true" maxlength="35">
    <input type="text" name="sigla" placeholder="Sigla do Estado" required="true" maxlength="2">
    <input type="hidden" name="action" value="inserir">
    <input type="submit" id="btnEnviar" value="Criar Estado">
</form>

<h1 class="textoMaior">Listar Estados</h1>
<table border="1" id="listaEstados">
    <thead>
        <tr>
            <td>Código</td>
            <td>Estado</td>
            <td>Sigla</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg></td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="estado1 : ${estadosList}">
        <td th:text="${estado1.getCodigo()}"></td>
        <td th:text="${estado1.getNome()}"></td>
        <td th:text="${estado1.getSigla()}"></td>
        <td><form method="POST" action="/estadosADM" th:object="${estado1}">
            <input type="hidden" name="codigo" th:value="*{codigo}">
            <input type="hidden" name="action" value="deletar">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
            </button>
            </form>
        </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>